# Ignore Visual Studio specific files
/FinalProject/.vs/

# Ignore build outputs
/FinalProject/FinalProject/bin/
/FinalProject/FinalProject/obj/
*.exe
*.dll
*.pdb
*.cache
*.editorconfig
*.BuildWithSkipAnalyzers
*.sourcelink.json
