USE [master]
GO
/****** Object:  Database [FShop]    Script Date: 2/14/2025 4:59:34 PM ******/
CREATE DATABASE [FShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FShop]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[AddressDetails] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeDetails]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeDetails](
	[AttributeID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AttributeValue] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[AttributeID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[Birthday] [date] NULL,
	[Password] [varchar](500) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](254) NULL,
	[Gender] [char](6) NULL,
	[CreatedDate] [datetime] NULL,
	[IsBlock] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[Avatar] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FullName] [varchar](255) NOT NULL,
	[Birthday] [date] NULL,
	[Password] [varchar](500) NOT NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](254) NULL,
	[Gender] [char](6) NULL,
	[CreatedDate] [datetime] NULL,
	[Avatar] [text] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ImportOrderDetails]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportOrderDetails](
	[IOID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[ImportPrice] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IOID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportOrders]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportOrders](
	[IOID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[SupplierID] [int] NULL,
	[ImportDate] [datetime] NULL,
	[TotalCost] [bigint] NULL,
	[IsComplete] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[LastModify] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[FullName] [varchar](100) NOT NULL,
	[Address] [ntext] NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveredDate] [datetime] NULL,
	[Status] [int] NULL,
	[TotalAmount] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[ID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRatings]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRatings](
	[RateID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Star] [int] NULL,
	[Comment] [nvarchar](300) NULL,
	[IsDeleted] [bit] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[BrandID] [int] NULL,
	[CategoryID] [int] NULL,
	[Model] [nvarchar](50) NULL,
	[FullName] [varchar](255) NULL,
	[Description] [text] NULL,
	[Image] [text] NULL,
	[Price] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RatingReplies]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingReplies](
	[ReplyID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[RateID] [int] NULL,
	[Answer] [nvarchar](300) NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/14/2025 4:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] NOT NULL,
	[TaxID] [varchar](20) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [varchar](254) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Address] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModify] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AttributeDetails] ([AttributeID], [ProductID], [AttributeValue]) VALUES (1, 1, N'Apple M1 Pro')
INSERT [dbo].[AttributeDetails] ([AttributeID], [ProductID], [AttributeValue]) VALUES (1, 3, N'Intel Core i7-1185G7')
INSERT [dbo].[AttributeDetails] ([AttributeID], [ProductID], [AttributeValue]) VALUES (2, 3, N'16GB')
GO
INSERT [dbo].[Attributes] ([AttributeID], [Name]) VALUES (1, N'Processor')
INSERT [dbo].[Attributes] ([AttributeID], [Name]) VALUES (2, N'RAM')
INSERT [dbo].[Attributes] ([AttributeID], [Name]) VALUES (3, N'Storage')
GO
INSERT [dbo].[Brands] ([BrandID], [Name]) VALUES (1, N'Apple')
INSERT [dbo].[Brands] ([BrandID], [Name]) VALUES (2, N'Samsung')
INSERT [dbo].[Brands] ([BrandID], [Name]) VALUES (3, N'Sony')
GO
INSERT [dbo].[Carts] ([CustomerID], [ProductID], [Quantity]) VALUES (1, 1, 1)
INSERT [dbo].[Carts] ([CustomerID], [ProductID], [Quantity]) VALUES (1, 2, 5)
GO
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (1, N'Laptop')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (2, N'Smartphone')
GO
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Birthday], [Password], [PhoneNumber], [Email], [Gender], [CreatedDate], [IsBlock], [IsDeleted], [Avatar]) VALUES (1, N'Nguyen Van A', CAST(N'1995-05-15' AS Date), N'055c03b195d4c31b8918cabf04bbd255', N'0901234567', N'nguyenvana@example.com', N'Male  ', CAST(N'2025-02-14T16:58:10.663' AS DateTime), 0, 0, N'avatar_link.jpg')
GO
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Birthday], [Password], [PhoneNumber], [Email], [Gender], [CreatedDate], [Avatar], [RoleID]) VALUES (1, N'Nguyen Van A', CAST(N'1990-01-01' AS Date), N'encrypted_password_here', N'0123456789', N'nguyen.vana@example.com', N'Male  ', CAST(N'2025-02-14T16:58:10.663' AS DateTime), N'avatar_image_url_here', 1)
GO
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [FullName], [Address], [PhoneNumber], [OrderDate], [DeliveredDate], [Status], [TotalAmount]) VALUES (1, 1, N'Nguyen Van A', N'123 Tech Street, District 1, Ho Chi Minh City', N'0901234567', CAST(N'2025-02-14T16:58:10.663' AS DateTime), NULL, 1, 50000000)
GO
INSERT [dbo].[OrderStatus] ([ID], [Status]) VALUES (1, N'Waiting for acceptance')
INSERT [dbo].[OrderStatus] ([ID], [Status]) VALUES (2, N'Transport')
INSERT [dbo].[OrderStatus] ([ID], [Status]) VALUES (3, N'Waiting for delivery')
GO
INSERT [dbo].[Products] ([ProductID], [BrandID], [CategoryID], [Model], [FullName], [Description], [Image], [Price]) VALUES (1, 1, 1, N'Macbook Pro 14', N'Apple Macbook Pro 14 inch M1 Pro chip', N'New model from Apple', N'macbook-pro-2021-apple-m1.jpg', 50000000)
INSERT [dbo].[Products] ([ProductID], [BrandID], [CategoryID], [Model], [FullName], [Description], [Image], [Price]) VALUES (2, 2, 2, N'Galaxy S23 Ultra', N'Samsung Galaxy S23 Ultra 5G 256GB', N'Latest flagship from Samsung', N'samsung-galaxy-s23.jpg', 30000000)
INSERT [dbo].[Products] ([ProductID], [BrandID], [CategoryID], [Model], [FullName], [Description], [Image], [Price]) VALUES (3, 3, 1, N'Sony Vaio Z900', N'Sony Vaio Z900 Core i7 16GB RAM', N'High-performance laptop', N'sony-vaio-z900.jpg', 20000000)
GO
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (2, N'Shop Manager')
INSERT [dbo].[Roles] ([RoleID], [Name]) VALUES (3, N'Order Manager')
GO
INSERT [dbo].[Suppliers] ([SupplierID], [TaxID], [Name], [Email], [PhoneNumber], [Address], [CreatedDate], [LastModify], [IsDeleted]) VALUES (1, N'0100101234', N'TechGear Solutions', N'contact@techgear.com', N'0901234567', N'123 Tech Street, District 1, Ho Chi Minh City', CAST(N'2025-02-14T16:58:10.660' AS DateTime), CAST(N'2025-02-14T16:58:10.660' AS DateTime), 0)
INSERT [dbo].[Suppliers] ([SupplierID], [TaxID], [Name], [Email], [PhoneNumber], [Address], [CreatedDate], [LastModify], [IsDeleted]) VALUES (2, N'0200101234', N'GadgetWorld', N'info@gadgetworld.vn', N'0912345678', N'456 Innovation Blvd, District 3, Ho Chi Minh City', CAST(N'2025-02-14T16:58:10.660' AS DateTime), CAST(N'2025-02-14T16:58:10.660' AS DateTime), 0)
INSERT [dbo].[Suppliers] ([SupplierID], [TaxID], [Name], [Email], [PhoneNumber], [Address], [CreatedDate], [LastModify], [IsDeleted]) VALUES (3, N'0300101234', N'DigitalZone', N'support@digitalzone.vn', N'0923456789', N'789 Digital Avenue, District 5, Ho Chi Minh City', CAST(N'2025-02-14T16:58:10.660' AS DateTime), CAST(N'2025-02-14T16:58:10.660' AS DateTime), 0)
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[AttributeDetails]  WITH CHECK ADD FOREIGN KEY([AttributeID])
REFERENCES [dbo].[Attributes] ([AttributeID])
GO
ALTER TABLE [dbo].[AttributeDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[ImportOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ImportOrderDetails]  WITH CHECK ADD FOREIGN KEY([IOID])
REFERENCES [dbo].[ImportOrders] ([IOID])
GO
ALTER TABLE [dbo].[ImportOrders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[ImportOrders]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ProductRatings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[ProductRatings]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[RatingReplies]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RatingReplies]  WITH CHECK ADD FOREIGN KEY([RateID])
REFERENCES [dbo].[ProductRatings] ([RateID])
GO
USE [master]
GO
